# Screenshots folder
screenshots/
.vscode/
github-docs/

# Jekyll Build Files
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Jekyll Configuration & Dependencies
Gemfile
Gemfile.lock

# Jekyll Default Files (using custom HTML instead)
404.html
assets/
